
.new-tweet {
  position: relative;
  border-radius: 5px;
  background-color: #dedada;
  border-color: grey;
  padding: 15px 10px;
  margin: 20px 2em;

}
.new-tweet h2{
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  margin: 0 0 20px 0;
 }

.new-tweet form textarea{
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

.new-tweet span.counter{
  position: absolute;
  right: 12px;


}

.max-characters{
  color: red;
}
