
.new-tweet {
  position: relative;
  border-radius: 5px;
  background-color: #e6eaf0;
  padding: 15px 10px;
  margin: 30px 2em;
  display: none;
  border-color: lightgray;
  border-style: solid;
  border-width: 0.01em;

}
.new-tweet h2{
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  margin: 0 0 20px 0;
 }

.new-tweet form textarea{
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

.new-tweet span.counter{
  position: relative;
  float: right;


}

.max-characters{
  color: red;
}
