#tweets{
  position: relative;
  border-radius: 5px;
  margin: 20px 2em;
  border-color: lightgrey;
  border-width: 2px;
  border-style: solid;
  opacity: 0.9;
 }
 #tweets:hover{
  border-color: grey;
  border-width: 2px;
  opacity: 1;
 }

 #tweets:hover .tweet footer > *{
  display: block;
 }

 #tweets .tweet header{
  position:relative;
  background-color: #b9cdf2;
  }

#tweets .tweet header > * {
  display: inline;
}

#tweets .tweet header .user-name {
  position: absolute;
  top: 10px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.5em;


}

#tweets .tweet header .user-id {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 300;
  color: gray;
}



#tweets .tweet .tweet-body{
  height: 50px;
  padding: 10px 10px
}



#tweets .tweet footer{
  border-top-style: solid;
  border-top-width: 2px;
  background-color: #eeeeee;
  height: 30px;
  padding-top: 5px;
  padding-left: 10px
}

#tweets .tweet footer > * {
  float: right;
  margin: 0 5px;
  color: cyan;
  font-size: 1.2em;
  display: none;
}

